@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

* { margin: 0; padding: 0; box-sizing: border-box; }


/*--COLOR PALETTE-------------------------------------------------------------------------------------------------*/


/*
white= #ffffff;
bg-grey= #f2f2f2;
light-grey= #d9d9d9;
light-mid-grey= #c1c1c1;
mid-grey= #919191;
dark-grey= #606060;
black= #303030;
background: -webkit-linear-gradient(180deg, #5f4b8b, #ed1e79);

red= rgb(255, 15, 0);
*/

/*--ASSET---------------------------------------------------------------------------------------------------------*/

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    color: #303030;
    font-size: 16px;
    text-align: center;
    line-height: 1.4em;
    letter-spacing: 1px;
}

img {
    width: 100%;
    display: block;
}

p {
    text-transform: none;
    font-weight: 300;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5em;
    font-weight: 700;  
    line-height: 1em;  
}

h1::after {
    display: block;
    content: "";
    border-bottom: 2px solid rgb(255, 15, 0);
    width: .75em;
    margin: .5em auto; 
}

h2, h3, strong {
    text-transform: uppercase;
    font-weight: 600;
}

h2 {
    font-size: 1.4em;
    letter-spacing: 2px;
}

h2::after {
    display: block;
    content: "";
    border-bottom: 2px solid rgb(255, 15, 0);
    width: 1em;
    margin: .75em auto; 
}

strong {
    text-transform: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:active {
    color: inherit;
}

a:visited {
    color: inherit;
}

li {
    list-style: none;
    font-weight: 300;
    margin-bottom: .125em;
}

.button {
    display: inline-block;
    cursor: pointer;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content;
    width: max-content;
    padding: .45em 1.25em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    clear: both;
    content: " ";
    font-size: 0;
    height: 0;
}


/*--WRAPPER-------------------------------------------------------------------------------------------------------*/


.contents_wrapper {
    max-width: 75em;
    margin: 0 auto;
}

.col_50 {
    float: left;
    width: 50%;
}

/*--HEADER-------------------------------------------------------------------------------------------------------*/


header {
    position: fixed;
    background: #fff;
    width: 100%;
    height: 4.5em;
    z-index: 3;
    color: #303030;
    text-transform: uppercase;
    box-shadow: .125em .125em .25em rgba(0, 0, 0, .02);
}

header .contents_wrapper {
    width: 95%;
}

#logo {
    float: left;
    display:inline-block;
    width: 14em;
    padding: .15em 0;
}

#nav_top {
    float: right;
    display: inline-block;
    padding: 1.475em 0;
}

header nav a {
    font-size: .8em;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 1.5em;
    padding: 1.5em 0;
}

header nav a:hover {
    border-bottom: 1px solid rgb(255, 15, 0);
    padding: .3em 0;
}

header nav a:active {
    border-bottom: 1px solid #303030;
    padding: .3em 0;
}

#toggle {
    display: none;
}

label {
    display: none;
    cursor: pointer;
    padding: .5em 0;  
    
}

/*--MAIN-------------------------------------------------------------------------------------------------------*/


main {
    position: absolute;
    width: 100%;
    top: 4.5em;
    margin: 0 auto;
}

#gallery {
    width: 100%;
    margin: 0 auto;
}

.gallery_image {
    height: calc(92vh - 5em); 
}

.slide_1 {
    background: url(../images/projects/Lotte_Trevi_Print-AD_1.jpg) no-repeat center center scroll;
    background-size: cover;
    background-attachment: fixed;
}

.slide_2 {
    background: url(../images/projects/GolfBuddy_2015-2016-Seasonal-Promotion_Flyers_1.jpg) no-repeat center center scroll;
    background-size: cover;
    background-attachment: fixed;
}

.slide_3 {
    background: url(../images/projects/KGC_2015-2016-Seasonal-Promotion.jpg) no-repeat center center scroll;
    background-size: cover;
    background-attachment: fixed;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.6s;
    animation-name: fade;
    animation-duration: 0.6s;
}

@-webkit-keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
}

.pagination_wrapper {
    padding: .75em 0 4em;
}

.pagination_dot {
    float: none;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #303030;
    border-radius: 50%;
    width: .85em;
    height: .85em;
    margin: 0 .25em;
    transition: background 0.3s;
}

.pagination_dot_selected {
    background-color: #313131!important
}

#about{
    background: #f2f2f2;
    padding: 6em 0;  
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

#about .contents_wrapper {
    max-width: 40em;
}

#about .button {
    display: block;
    background: rgb(255, 15, 0);
    color: #f2f2f2;
    margin: 1.75em auto 2.5em;
}

#about .button:hover {
    background: #303030;
}

.box {
    display: inline-block;
    width: 98%;
    border: 1px solid #303030;
    height: 13em;
    padding: 1.5em;
    margin: 0 auto;
}

.skills_icon img {
    display: inline;
    width: 2.5em;
    height: 2.5em;
    margin: .5em auto ;
}

#projects {
    padding: 6em 0 4em;  
}

#projects .contents_wrapper {
    width: 95%;
}

.projects_grid {
    position: relative;
    float: left;
    width: 50%;
}

.projects_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.8);
    background-blend-mode: multiply;
    opacity: 0;
}

.projects_overlay:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.projects_overlay_text {
    position: absolute;
    color: #f2f2f2;
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#projects_page {
    padding: 1.5em 0;  
}

#projects_page .contents_wrapper {
    width: 80%;
}

.projects_description {
    width: 40em;
    margin: 0 auto 2em;
}

#projects_page ul li {
    display: inline-block;
    margin: 0 1em;
}

#projects_page hr {
    background-color: #919191;
    border: none;
    height: 1px;
    margin: 2em auto;
    width: 100%;
}

#projects_page img {
    width: 100%;
    margin: 0 auto 1%;
}

.project_nav_button {
    background: transparent;
    border: 1px solid #303030;
    padding: .4em .8em;
}

.project_nav_button:hover {
    background-color: #d9d9d9;
}

#clients {
    padding: 5em 0;  
    background: url(../images/background_clients.jpg) no-repeat center center scroll;
    background-size: cover;
    background-attachment: fixed;
}

#clients .contents_wrapper {
    max-width: 50em;
}

#clients .contents_wrapper img {
    display: block;
    float: left;
    margin: 0.25em 0;
    padding: 0;
    width: 16.66%;
}

#clients .contents_wrapper img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

footer {
    background-color: #303030;
    color: #c1c1c1;
    padding: 4em 0 3.5em;  
}

footer .contents_wrapper {
    max-width: 30em;
}

input, textarea {
    font-family: 'Open Sans', 'Arial', sans-serif;
    color: #c1c1c1;
    width: 100%;
    outline: none;
    background: transparent;
    border: solid 1px #919191;
    transition: all 0.3s ease-in-out;
}

input {
    height: 2.5em;
    border-bottom: none;
    padding: 0 .5em;
}

textarea {
    height: 8em;
    padding: .5em;
}

input:hover, textarea:hover{
    color: #313131;
    background: #c1c1c1;
}

footer .button {
    color: #303030;
    background: #c1c1c1;
    margin-top: .25em;
}

footer .button:hover {
    background: #919191;
}

footer img {
    display: inline;
    margin-top: 2em;
    width: 1.875em;
    height: 1.875em;
}

footer p {
    font-size: .625em;
}

/*--MEDIA-------------------------------------------------------------------------------------------------------*/


@media only screen and (max-width: 960px) {

    #clients .contents_wrapper {
        width: 80%;
    }

    #projects_page .contents_wrapper {
        width: 95%;
    }
}

@media only screen and (max-width: 765px) {

    .gallery_image {
        height: calc(72vh - 5em);
    }

    .slide_1, .slide_2, .slide_3 {
        background-attachment: unset;
    }
    
    h1 {
        font-size: 3em;
    }

    #about .contents_wrapper {
        width: 70%;
    }

    #about .col_50 {
        width: 100%;
        margin: 0;
    }

    .box {
        width: 70%;
        height: auto;
        padding: 1.5em;
        margin: 1% 0;
    }

    #projects .contents_wrapper {
        width: 70%;
    }

    .projects_grid {
        width: 100%;
        margin: 1% 0;
    }

    h3 {
        font-size: .8em;
    }

    .projects_description {
        width: 70%;
    }

    #clients .contents_wrapper {
        width: 75%;
    }

    #clients .contents_wrapper img:hover {
        transform: none;
        transition: none;
    }

    #clients .contents_wrapper img {
        width: 25%;
    }

}

@media only screen and (max-width: 630px) {

    header {
        height: 3.5em;
    }

    header .contents_wrapper {
        width: 90%;
    }

    #logo {
        width: 11em;
        padding: .1em 0;
    }
   
    #nav_top {
        float: right;
        position: absolute;
        text-align: right;
        right: 0;
        padding: .425em 1.5em 0;
        width: 100%;
    }

    nav {
        display: none;
    }

    label {
        display: block;
        font-size: 1.5em;
        padding: .3em 0;
    }

    header nav a {
        color: #f2f2f2;
        display: block;
        margin: 0;
        padding: 1em;
        letter-spacing: 1px;
        border-bottom: none;
    }

    header nav a:visited {
        color: #f2f2f2;
    }

    header nav a:hover {
        border-bottom: none;
        background: rgb(255, 15, 0);
        padding: 1em;
    }

    header nav a:active {
        border-bottom: none;
        background: #919191;
        padding: 1em;
    }

    #toggle {
        position: relative;
    }
  
    #toggle:checked + nav {
        display: block;
        text-align: center;
        background: #303030;
        padding: 0;
        position: absolute;
        top: 3.5em;
        right: 0;
        z-index: 2;
        width: 100%;
        border-bottom: none;
        opacity: .95;
    }

    main {
        top: 3.5em;
    }

    .pagination_wrapper {
        padding: .75em 0;
    }

    #clients .contents_wrapper {
        width: 70%;
    }

    #contact .contents_wrapper {
        width: 70%;
    }
}

@media only screen and (max-width: 620px) {

    .box {
        width: 90%;
    }


}

@media only screen and (max-width: 490px) {

    #about .contents_wrapper {
        width: 80%;
    }
    #projects .contents_wrapper {
       width: 100%;
    }

    .projects_description {
        width: 80%;
    }

    #clients .contents_wrapper {
        width: 80%;
    }


}

/*--TEST-------------------------------------------------------------------------------------------------------*/

/*.nav_top_min_wrapper {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 2em;
    height: .25em;
    background-color: white;
    margin: .4em 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);*/