@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

* { margin: 0; padding: 0; box-sizing: border-box; }


/*--COLOR PALETTE-------------------------------------------------------------------------------------------------*/


/*
white= #ffffff;
bg-grey= #f2f2f2;
light-grey= #d9d9d9;
light-mid-grey= #c1c1c1;
mid-grey= #919191;
dark-grey= #606060;
black= #303030;
background: -webkit-linear-gradient(180deg, #5f4b8b, #ed1e79);

red= rgb(255, 15, 0);
black opacity = rgba(30, 30, 30, 0.8);
UV= #5F4B8B;
*/

/*--ASSET---------------------------------------------------------------------------------------------------------*/

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    color: #303030;
    font-size: 16px;
    text-align: center;
    line-height: 1.4em;
}

img {
    width: 100%;
    display: block;
}

p {
    display: block;
    text-transform: none;
    font-weight: 300;
    margin-bottom: 1em;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.25em;
    font-weight: 700;  
    line-height: 1em;  
}

h1::after {
    display: block;
    content: "";
    border-bottom: 2px solid rgb(255, 15, 0);
    width: .75em;
    margin: .5em auto; 
}

h2, h3, strong {
    text-transform: uppercase;
    font-weight: 600;
}

h2 {
    font-size: 1.4em;
    letter-spacing: 2px;
    margin: 0 auto .75em ; 
}

h3 {
    font-size: 1em;
}

/*h2::after {
    display: block;
    content: "";
    border-bottom: 2px solid rgb(255, 15, 0);
    width: 1em;
    margin: .75em auto; 
}
*/
strong {
    text-transform: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:active {
    color: inherit;
}

a:visited {
    color: inherit;
}

li {
    list-style: none;
    font-size: .9em;
    font-weight: 300;
    margin-bottom: .5em;
}

.button {
    display: inline-block;
    cursor: pointer;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content;
    width: max-content;
    padding: .45em 1.25em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    clear: both;
    content: " ";
    font-size: 0;
    height: 0;
}


/*--WRAPPER-------------------------------------------------------------------------------------------------------*/


.contents_wrapper {
    max-width: 75em;
    margin: 0 auto;
}

.col_50 {
    float: left;
    width: 50%;
}

/*--HEADER-------------------------------------------------------------------------------------------------------*/

header {
    position: fixed;
    background: #303030;
    width: 100%;
    height: 4.5em;
    z-index: 5;
    color: #c1c1c1;
    text-transform: uppercase;
    box-shadow: .125em .125em .25em rgba(0, 0, 0, .02);
}

header .contents_wrapper {
    width: 95%;
}

#logo {
    float: left;
    display:inline-block;
    width: 14em;
    padding: .15em 0;
}

#nav_top {
    float: right;
    padding: 1.475em 0;
}

.menu a {
    transition: max-height 0.5s ease-in-out;
    font-size: .8em;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 1.5em;
}

.menu a:hover {
    border-bottom: 1px solid rgb(255, 15, 0);
}

.menu a:active {
    border-bottom: 1px solid #c1c1c1;
}

#toggle, .toggle-check {
    display: none;
}

#toggle {
    cursor: pointer;
    border-bottom: 2px solid currentColor;
    width: 22px;
    transition: border-bottom 1s ease-in-out;
    -webkit-transition: border-bottom 1s ease-in-out;
}

#toggle:before, #toggle:after{
    content: "";
    display: block;
    border-bottom: 2px solid currentColor;
    margin-bottom: 6px;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.toggle-check:checked ~ #toggle {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.8s ease-in-out;
    -webkit-transition: border-bottom 0.8s ease-in-out;
}

.toggle-check:checked ~ #toggle:before {
    transform: rotate(-405deg) translateY(1px) translateX(-2px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-2px);
}

.toggle-check:checked ~ #toggle:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
}



/*--MAIN-------------------------------------------------------------------------------------------------------*/


main {
    position: absolute;
    width: 100%;
    top: 4.5em;
    margin: 0 auto;
}

#gallery {
    width: 100%;
    margin: 0 auto;
}

.gallery_image {
    height: calc(94vh - 5em); 
}

.slide_1 {
    background: url(../images/projects/HiteJinro_2017-Hite-Beer-Dodgers-Edition-Promotion.jpg) no-repeat center center scroll;
    background-size: cover;
    background-attachment: fixed;
}

.slide_2 {
    background: url(../images/projects/GolfBuddy_2015-2016-Seasonal-Promotion_Flyer_1.jpg) no-repeat center center scroll;
    background-size: cover;
    background-attachment: fixed;
}

.slide_3 {
    background: url(../images/projects/Lotte_Trevi_Print_1.jpg) no-repeat center center scroll;
    background-size: cover;
    background-attachment: fixed;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.6s;
    animation-name: fade;
    animation-duration: 0.6s;
}

@-webkit-keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
}

.gallery_left_nav, .gallery_right_nav{
    cursor: pointer;
    position: absolute;
    top: 40vh;
    transform: translate(0%,-50%);
    margin: 0 1em;
    color: #c1c1c1;
    background-color: rgba(30, 30, 30, 0.8);
    padding: .4em .8em;
}

.gallery_left_nav {
    left: 0;
}

.gallery_right_nav {
    right: 0;
}

.gallery_left_nav:active, .gallery_right_nav:active {
    color: rgb(255, 15, 0);
    background-color: rgba(30, 30, 30, 0.8);
}

.pagination_wrapper {
    padding: .75em 0 4em;
}

.pagination_dot {
    float: none;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #303030;
    border-radius: 50%;
    width: .85em;
    height: .85em;
    margin: 0 .25em;
    transition: background 0.3s;
}

.pagination_dot_selected {
    background-color: #313131!important
}

#about{
    background: #f2f2f2;
    padding: 8em 0;  
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

#about .contents_wrapper {
    max-width: 42em;
}

#about .button {
    background: rgb(255, 15, 0);
    color: #f2f2f2;
    margin: .75em auto 2.5em;
}

#about .button:hover {
    background: #303030;
}

.box {
    display: inline-block;
    width: 98%;
    border: 1px solid #919191;
    height: 16em;
    padding: 2em 1.5em;
    margin: 0 auto;
    text-align: left;
}

.box ul {
    text-indent: -1em;
    padding-left: .65em;
}

.box span, .projects_description span {
    font-weight: 800;
    color: rgb(255, 15, 0);
}

/*.skills_icon img {
    display: inline;
    width: 2.5em;
    height: 2.5em;
    margin: .5em auto ;
}*/

#projects {
    padding: 8em 0 4em;  
}

#projects .contents_wrapper {
    width: 95%;
}

.projects_grid {
    position: relative;
    float: left;
    width: 49.25%;
    margin: .75% 0;
}

.margin_right {
    margin-right: .75%;
}

.margin_left {
    margin-left: .75%;
}


.projects_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.8);
    background-blend-mode: multiply;
    opacity: 0;
}

.projects_overlay:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.projects_overlay_text {
    position: absolute;
    color: #f2f2f2;
    letter-spacing: 2px;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.projects_overlay_text hr {
    background-color: rgb(255, 15, 0);
    border: none;
    height: 1px;
    margin: .5em auto;
    width: 2em;
}

.projects_overlay_text p {
    font-size: .8em;
}

#clients {
    padding: 5em 0;  
    background: url(../images/clients/clients_background.jpg) no-repeat center center scroll;
    background-size: cover;
    background-attachment: fixed;
}

#clients .contents_wrapper {
    max-width: 50em;
}

#clients .contents_wrapper img {
    display: inline-block;
    margin: 0.25em;
    width: 15%;
}

#clients .contents_wrapper img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}


/*--FOOTER-------------------------------------------------------------------------------------------------------*/


footer {
    background-color: #303030;
    color: #c1c1c1;
    padding: 5em 0 3.5em;  
}

footer .contents_wrapper {
    max-width: 30em;
}

input, textarea {
    font-family: 'Open Sans', 'Arial', sans-serif;
    color: #c1c1c1;
    width: 100%;
    outline: none;
    background: transparent;
    border: solid 1px #919191;
    transition: all 0.3s ease-in-out;
}

input {
    height: 2.5em;
    border-bottom: none;
    padding: 0 .5em;
}

textarea {
    height: 8em;
    padding: .5em;
}

input:hover, textarea:hover{
    color: #313131;
    background: #c1c1c1;
}

footer .button {
    color: #303030;
    background: #c1c1c1;
    margin-top: .5em;
}

footer .button:hover {
    background: #919191;
}

footer img {
    display: inline;
    margin-top: 2em;
    width: 1.875em;
    height: 1.875em;
}

footer p {
    font-size: .625em;
    letter-spacing: 1px;
}


/*--EXTERNAL PAGES-------------------------------------------------------------------------------------------------------*/


#projects_page {
    padding: 3.5em 0;  
}

#projects_page .contents_wrapper {
    width: 80%;
}

.projects_description {
    max-width: 42em;
    margin: 0 auto 2em;
}

#projects_page ul li {
    display: inline-block;
    margin: 0 .5em;
}

#projects_page hr {
    background-color: #919191;
    border: none;
    height: 1px;
    margin: 2em auto;
    width: 100%;
}

#projects_page img {
    width: 100%;
    margin: 0 auto 1%;
}

#projects_page:after {
    display: block;
    content: "";
    border-bottom: 1px solid #919191;
    width: 95%;
    max-width: 75em;
    margin: 4em auto -3.5em; 
}

.project_nav_button {
    background: transparent;
    border: 1px solid #303030;
    padding: .4em .8em;
}

.project_nav_button:hover {
    background-color: #d9d9d9;
}


/*--MEDIA-------------------------------------------------------------------------------------------------------*/


@media only screen and (max-width: 960px) {

    #clients .contents_wrapper {
        width: 80%;
    }

    #projects_page .contents_wrapper {
        width: 95%;
    }
}

@media only screen and (max-width: 865px) {

    #clients .contents_wrapper img {
        width: 14.75%;
    }
}

@media only screen and (max-width: 765px) {

    .gallery_image {
        height: calc(72vh - 5em);
    }

    .slide_1, .slide_2, .slide_3 {
        background-attachment: unset;
    }
    
    .gallery_left_nav, .gallery_right_nav{
        top: 30vh;
    }

    h1 {
        font-size: 3em;
    }

    #about .contents_wrapper {
        width: 70%;
    }

    #about .col_50 {
        width: 100%;
        margin: 0;
    }

    .box {
        width: 75%;
        height: auto;
        padding: 1.5em;
        margin: 1% 0;
    }

    #projects .contents_wrapper {
        width: 70%;
    }

    .projects_grid {
        width: 100%;
        margin: 1% 0;
    }

    h3 {
        font-size: .8em;
    }

    .projects_description {
        width: 70%;
    }

    #clients .contents_wrapper {
        width: 75%;
    }

    #clients .contents_wrapper img:hover {
        transform: none;
        transition: none;
    }

    #clients .contents_wrapper img {
        width: 25%;
    }

}

@media only screen and (max-width: 630px) {

    header {
        height: 3.5em;
    }

    header .contents_wrapper {
        width: 90%;
    }

    #logo {
        width: 11em;
        padding: .1em 0;
    }

        #nav_top {
        position: absolute;
        width: 100%;
        right: 0;
        padding: 1.15em 0;        
    }

    #toggle {
        display: block;
        float: right;
        margin-right: 5%;
    }

    .toggle-check:checked ~ .menu  {
        display: block;
    }

    .toggle-check:checked ~ #toggle {
        padding-top: .45em;  
    }

    .menu {
        display: none;
        position: absolute;
        top: 3.5em;
        z-index: 5;
        width: 100%;
    }

    .menu a {
        display: block;
        background: rgba(30, 30, 30, 0.8);
        padding: 1em;
        margin-left: 0;
    }

    .menu a:hover {
        border-bottom: none;
        background: rgb(255, 15, 0);
    }

    .menu a:active {
        border-bottom: none;
        background: #919191;
    }

    main {
        top: 3.5em;
    }

    .pagination_wrapper {
        padding: .75em 0;
    }

    .box {
        width: 80%;
    }

    #clients .contents_wrapper {
        width: 70%;
    }

    #contact .contents_wrapper {
        width: 70%;
    }
}


@media only screen and (max-width: 565px) {
    .box {
        width: 90%;
    }
}

@media only screen and (max-width: 510px) {

    #about .contents_wrapper {
        width: 80%;
    }
    #projects .contents_wrapper {
       width: 100%;
    }

    .projects_description {
        width: 80%;
    }

    #clients .contents_wrapper {
        width: 90%;
    }


}

/*--TEST-------------------------------------------------------------------------------------------------------*/


