@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');

* { margin: 0; padding: 0; box-sizing: border-box; }


/*--COLOR PALETTE-------------------------------------------------------------------------------------------------*/


/*
050218
white= #ffffff;
bg-grey= #f0f0f0;
mid-grey= #b2b2b2;
mid-dark grey (body)= #808080; 
dark grey (head)= #484848; rgba(28, 28, 28, 0.8);

*/

/*--ASSET---------------------------------------------------------------------------------------------------------*/

body {
    background: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    color: #808080;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    line-height: 1.4em;
}

img {
    width: 100%;
    display: block;
}

p {
    display: block;
    font-weight: 300;
    margin-bottom: 1em;
}

h1, h2, h3, h5 {
    color: #484848;
}

h2, h3, h4, h5 {
    font-weight: 400;
}

h1 {
    font-size: 2.75em;
    font-weight: 100;
    line-height: 1em;  
}

h1::after {
    display: block;
    content: "";
    border-bottom: 2px solid #484848;
    width: .75em;
    margin: .25em auto; 
}

h2 {
    font-size: 1.5em;
    margin: 0 auto .75em ; 
}

h3 {
    font-size: 1em;
    margin: 0 auto 1.75em ; 
}

h4 {
    font-size: 1.25em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:active {
    color: inherit;
}

a:visited {
    color: inherit;
}

li {
    list-style: none;
    margin-bottom: .5em;
}

.button {
    display: inline-block;
    cursor: pointer;
    width: max-content;
    padding: .3em 1em;
    font-weight: 600;
    letter-spacing: 2px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    clear: both;
    content: " ";
    font-size: 0;
    height: 0;
}


/*--WRAPPER-------------------------------------------------------------------------------------------------------*/

.contents_wrapper {
    max-width: 80em;
    margin: 0 auto;
}

/*--HEADER-------------------------------------------------------------------------------------------------------*/

header {
    position: fixed;
    top: 0;
    background: #484848;
    color: #f0f0f0;
    width: 100%;
    height: 4em;
    color: #484848;
    box-shadow: .125em .125em .25em rgba(0, 0, 0, .02);
    transition: top 0.6s ease-in-out;
    z-index: 5;
}

header:inactive {
    display: none;
}

header .contents_wrapper {
    width: 92%;
}

.header_up {
    top: -4em;
}

#logo {
    float: left;
    width: 12em;
    height: 4em;
    padding: 0;
    z-index: 10;
}

#nav_top {
    position: relative;
    float: right;
    height: 4em;
    padding: 1.25em 0;
}

#checkbox, .hamburger_mark {
    display: none;
}

.hamburger {
    transition-property: opacity, filter;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.hamburger:hover {
    opacity: 0.8; 
}

.hamburger_mark, .hamburger_mark::before, .hamburger_mark::after {
    position: absolute;
    width: 1.5em;
    height: 4px;
    background-color: #484848;
    border-radius: 4px;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
}

.hamburger_mark::before, .hamburger_mark::after {
    content: "";
    display: block; 
}

/*.hamburger_mark::before {
    top: -10px; 
}

.hamburger_mark::after {
    bottom: -10px; 
}
*/
.hamburger_animation .hamburger_mark {
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}

.hamburger_animation .hamburger_mark::before {
    top: 8px;
    transition: opacity 0.125s 0.275s ease; 
}

.hamburger_animation .hamburger_mark::after {
    top: 16px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}

.hamburger_animation.is-active .hamburger_mark {
    transform: translate3d(0, 8px, 0) rotate(135deg);
    transition-delay: 0.075s; 
}

.hamburger_animation.is-active .hamburger_mark::before {
    transition-delay: 0s;
    opacity: 0; 
}

.hamburger_animation.is-active .hamburger_mark::after {
    transform: translate3d(0, -16px, 0) rotate(-270deg);
    transition-delay: 0.075s; 
}

.menu {
    display: inline-block;
}

.menu a {
    color: #f0f0f0;
    font-size: .95em;
    font-weight: 400;
    margin-left: 1.5em;
    transition: max-height 0.5s ease-in-out;
}

.menu a:hover {
    border-bottom: 1.5px solid #b2b2b2;
}

.menu a:active {
    border-bottom: 1.5px solid #808080; 

}


/*--MAIN-GALLERY------------------------------------------------------------------------------------------------------*/


main {
    position: absolute;
    width: 100%;
    top: 4em;
}

#gallery {
    position: relative;
    width: 92%;
    max-width: 80em;
    margin: 0 auto;
}

.gallery_image {
    height: calc(94vh - 4em); 
}

.slide_1 {
    background: url(../images/projects/HiteJinro_2017_Hite-Beer-Dodgers-Edition-Promotion_Main.jpg) no-repeat center center scroll;
    background-size: cover;
    background-attachment: fixed;
}

.slide_2 {
    background: url(../images/projects/GolfBuddy_2015-2016_Seasonal-Promotion_Main.jpg) no-repeat center center scroll;
    background-size: cover;
    background-attachment: fixed;
}

.slide_3 {
    background: url(../images/projects/Lotte_2016_Trevi-Promotion_Main.jpg) no-repeat center center scroll;
    background-size: cover;
    background-attachment: fixed;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.6s;
    animation-name: fade;
    animation-duration: 0.6s;
}

@-webkit-keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
}

.slide_arrow_wrapper {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 38vh;
    transform: translate(-50%,0%);
}

.slide_left_arrow, .slide_right_arrow{
    cursor: pointer;
    margin: .5em;
    color: #f0f0f0;
    background-color: rgba(28, 28, 28, 0.8);
    padding: .3em .7em;
    border-radius: 50%;
}

.slide_left_arrow {
    float: left;
}

.slide_right_arrow {
    float: right;
}

.slide_left_arrow:active, .slide_right_arrow:active {
    color: #b2b2b2;
}

.slide_dot_wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 2vh;
    left: 50%;
}

.slide_dot {
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgba(28, 28, 28, 0.8);
    border-radius: 50%;
    width: .85em;
    height: .85em;
    margin: 0 .25em;
    transition: background 0.4s;
}

.slide_dot_selected {
    background-color: rgba(28, 28, 28, 0.8)!important
}


/*--MAIN-ABOUT------------------------------------------------------------------------------------------------------*/


#about {
    background: #f0f0f0;
    width: 92%;
    max-width: 80em;
    margin: 0 auto;
    padding: 6em 1em; 
}

#about .contents_wrapper {
    max-width: 42em;
}

#about .button {
    border: 1.5px solid #484848;
    color: #484848;
    margin: 1.75em auto 3.25em;
}

#about .button:hover {
    border: 1.5px solid #484848;
    background: #484848;
    color: #f0f0f0;
}

.list {
    float: left;
    width: 48%;
    border-top: 1.5px solid #484848;
    padding: 2em 1em;
    margin: 0 1%;
    text-align: left;
}

.list ul {
    text-indent: -1em;
    padding-left: .8em;
}


/*--MAIN-PROJECTS------------------------------------------------------------------------------------------------------*/


#projects .contents_wrapper {
    width: 92%;
}

.projects_grid {
    position: relative;
    float: left;
    width: 50%;
}

.projects_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(28, 28, 28, 0.8);
    background-blend-mode: multiply;
    opacity: 0;
}

.projects_overlay:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.projects_overlay_text {
    position: absolute;
    color: #f0f0f0;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.projects_overlay_text p {
    font-size: .95em;
}

.projects_overlay_text hr {
    background-color: #b2b2b2;
    border: none;
    height: 1px;
    margin: .5em auto;
    width: 1.5em;
}


/*--CLIENTS-------------------------------------------------------------------------------------------------------*/


#clients {
    width: 92%;
    max-width: 80em;
    margin: 0 auto;
    padding: 5em 1em;
    background: url(../images/clients/clients_background.jpg) no-repeat center center scroll;
    background-size: cover;
    background-attachment: fixed;
}

#clients .contents_wrapper {
    padding-top: 1em;
    max-width: 46em;
}

#clients .contents_wrapper img {
    display: inline-block;
    width: 20%;
}

#clients .contents_wrapper img:hover {
    transform: scale(1.125);
    transition: all 0.4s ease-in-out;
}


/*--FOOTER-------------------------------------------------------------------------------------------------------*/


footer {
    padding: 3em 0 1em;  
}

footer .contents_wrapper {
    width: 92%;
    max-width: 80em;
}

footer img {
    display: inline;
    width: 1.875em;
    height: 1.875em;
    margin-top: -1em;
}

footer p {
    font-size: .75em;
    margin-top: 3em;
}


/*--MEDIA-------------------------------------------------------------------------------------------------------*/



@media only screen and (max-width: 630px) {

    header {
        height: 3.5em;
    }

    .header_up {
        top: 0;
    }

    header .contents_wrapper {
        width: 100%;
    }

    #logo {
        position: absolute;
        width: 10em;
        height: 3.5em;
        margin-left: 4%;
    }

    #nav_top {
        width: 100%;
        right: 0;
        padding: 1.15em 0;
    }

    .hamburger_box {
        position: absolute; 
        cursor: pointer;
        width: 1.5em;
        height: 1.35em;
        right: 0;
        margin-right: 4%;
    }

    .hamburger_mark {
        display: block;
    }

    .menu {
        display: none;
        position: absolute;
        top: 3.5em;
        width: 100%;
    }

    .menu a {
        display: block;
        background: rgba(28, 28, 28, 0.8);
        color: #f0f0f0;
        padding: .75em;
        margin-left: 0;
    }

    .menu a:hover {
        border-bottom: none;
        background: #808080; 
    }

    .menu a:active {
        border-bottom: none;
        background: #b2b2b2;
    }

    #checkbox:checked + nav {
        display: block;
        border-bottom: none;
    }


}

/*--TEST-------------------------------------------------------------------------------------------------------*/
