@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');

* { margin: 0; padding: 0; box-sizing: border-box; }


/*--COLOR PALETTE-------------------------------------------------------------------------------------------------*/

/*LoVeHAte*/

/*
050218
white= #ffffff;
bg-grey= #f0f0f0;
mid-grey (active) = #b2b2b2;
mid-dark grey (body, hover)= #808080; 
dark grey (head)= #484848; rgba(28, 28, 28, 0.8);
*/

/*
Space rule:
Large Space 6em;
Small Space 3em;
Paragraphc Space 1em;

/*--ASSET---------------------------------------------------------------------------------------------------------*/

body {
    background: #ffffff;
    font-family: 'Work Sans', 'Helvetica', 'Arial', sans-serif;
    color: #808080;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    line-height: 1.4em;
/*    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;*/
}

img {
    width: 100%;
    display: block;
}

p {
    display: block;
    font-weight: 300;
    margin-bottom: 1em;
}

.paragraph p:last-of-type{
    margin-bottom: 0;
}

h1, h2, h3 {
    color: #484848;
}

h1 {
    font-size: 2.75em;
    font-weight: 300;
    line-height: 1em;
}

h1::after {
    display: block;
    content: "";
    border-bottom: 1.75px solid #484848;
    width: .75em;
    margin: .25em auto; 
}

h2 {
    font-size: 1em;
    font-weight: 500;
    margin: 0 auto 1em;
}

h3 {
    font-size: 1em;
    font-weight: 500;
    margin: 0 auto 1em;
}

h4 {
    font-size: 1em;
    font-weight: 400;
}

h4::after {
    display: block;
    content: "";
    border-bottom: 1px solid #f0f0f0;
    width: 1.5em;
    margin: .5em auto; 
}

a {
    text-decoration: none;
    color: inherit;
}

a:active {
    color: inherit;
}

a:visited {
    color: inherit;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    clear: both;
    content: " ";
    font-size: 0;
    height: 0;
}


/*--WRAPPER-------------------------------------------------------------------------------------------------------*/


.section_wrapper {
    background: #f0f0f0;
    width: 85%;
    max-width: 80em;
    margin: 0 auto;
    padding: 6em 0; 
}

.contents_wrapper {
    width: 85%;
    max-width: 42em;
    margin: 0 auto;
}

.col_50 {
    float: left;
    width: 48%;
}

.no_bottom_space {
    padding-bottom: 0;
}

/*--HEADER-------------------------------------------------------------------------------------------------------*/


header {
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    height: 4em;
    transition: top 0.6s ease-in-out;
    z-index: 5;
}

header .section_wrapper {
    position: relative;
    padding: 0; 
}

.header_up {
    top: -4em;
}

#logo {
    position: absolute;
    left: 0;
    width: 10em;
    height: 4em;
    z-index: 10;
}

#nav_top {
    position: absolute;
    right: 0;
    height: 4em;
    padding: 1.25em 0;
}

#checkbox {
    display: none;
}

.hamburger_box {
    display: none;
    cursor: pointer;
    width: 1.5em;
    height: 1.25em;
}

.hamburger_mark, .hamburger_mark::before, .hamburger_mark::after {
    position: absolute;
    left: 0;
    width: 1.5em;
    height: 4px;
    background-color: #484848;
    border-radius: 4px;
}

.hamburger_mark::before, .hamburger_mark::after {
    content: "";
    display: block; 
}

.hamburger_animation .hamburger_mark {
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}

.hamburger_animation .hamburger_mark::before {
    top: 8px;
    transition: opacity 0.125s 0.25s ease; 
}

.hamburger_animation .hamburger_mark::after {
    top: 16px;
    transition: transform 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}

.hamburger_animation.is-active .hamburger_mark {
    transform: translate3d(0, 8px, 0) rotate(135deg);
    transition-delay: 0.05s; 
}

.hamburger_animation.is-active .hamburger_mark::before {
    transition-delay: 0s;
    opacity: 0; 
}

.hamburger_animation.is-active .hamburger_mark::after {
    transform: translate3d(0, -16px, 0) rotate(-270deg);
    transition-delay: 0.05s; 
}

.menu {
    display: inline-block;
}

.menu a {
    color: #484848;
    font-size: .9em;
    font-weight: 500;
    margin-left: 1.5em;
    transition: max-height 0.5s ease-in-out;
}

.menu a:hover {
    border-bottom: 1.5px solid #808080; 
}

.menu a:active {
    border-bottom: 1.5px solid #b2b2b2;
}


/*--RETURN TOP------------------------------------------------------------------------------------------------------*/


.return_top {
    position: fixed;
    display: block;
    cursor: pointer;
    z-index: 5;
    width: 2em;
    padding: .5em 0;
    margin-right: calc(7.5% + .75em); 
    right: 0;
    bottom: -3.5em;
    -webkit-transition: bottom 0.9s ease-in-out;
    -moz-transition: bottom 0.9s ease-in-out;
    -o-transition: bottom 0.9s ease-in-out;
    transition: bottom 0.9s ease-in-out;
}

.return_top.show {
    bottom: 2em;
}

.return_top:hover {
    opacity: 0.8;
}

.return_top:active {
    opacity: 0.5;
}


/*--MAIN-GALLERY------------------------------------------------------------------------------------------------------*/


main {
    position: absolute;
    width: 100%;
    top: 4em;
}

#gallery {
    position: relative;
    padding: 0; 
}

.gallery_image { 
    height: calc(92vh - 4em); 
}

.slide_1 {
    background: url(../images/projects/gallery_slide_hitejinro_2016-2017_social-media_4th-of-july-captain-hite.jpg) no-repeat center center scroll;
    background-size: cover; 
}

.slide_2 {
    background: url(../images/projects/gallery_slide_golfbuddy_2014-2016_regular-subscription_e-blast.jpg) no-repeat center center scroll;
    background-size: cover;
}

.slide_3 {
    background: url(../images/projects/gallery_slide_korean-ginseng-corp_2014-2016_seasonal-event_standing-banner.jpg) no-repeat center center scroll;
    background-size: cover;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.6s;
    animation-name: fade;
    animation-duration: 0.6s;
}

@-webkit-keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
}

.page_arrow_wrapper {
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: .75vh;
    transform: translate(-50%,0%);
}

.page_arrow_left, .page_arrow_right{
    cursor: pointer;
    margin: 0 1em;
    color: rgba(28, 28, 28, 0.8);
    padding: .3em .7em;
    font-weight: 400;
}

.page_arrow_left {
    float: left;
}

.page_arrow_right {
    float: right;
}

.page_arrow_left:active, .page_arrow_right:active {
    color: #808080;
}

.slide_dot_wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: -.25em;
    left: 50%;
}

.slide_dot {
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgba(28, 28, 28, 0.8);
    border-radius: 50%;
    width: .5em;
    height: .5em;
    margin: 0 .25em;
    transition: background 0.4s;
}

.slide_dot_selected {
    background-color: rgba(28, 28, 28, 0.8)!important
}


/*--MAIN-ABOUT------------------------------------------------------------------------------------------------------*/

.button {
    display: inline-block;
    cursor: pointer;
    width: max-content;
    font-weight: 500;
    padding: .3em 1em;
    margin: 2.5em auto 0;
    border: 1.5px solid #484848;
    color: #484848; 
}

.button:visited {
    color: #484848; 
}

.button:hover {
    background: #484848;
    color: #f0f0f0;
}

.button:active {
    border: 1.5px solid #808080; 
    background: #808080; 
}

#character {
    font-size: .9em;
    font-weight: 500;
    color: #484848;
    margin-top: 1.1111em;
}

#character li {
    list-style: none;
    display: inline;
    padding-left: 1em;
}

.list {
    border-top: 1.5px solid #484848;
    margin-top: 2.5em;
    text-align: left;
    padding: 2em 0 0;
}

.list li {
    list-style: none;
    font-size: .9em;
    margin-bottom: .5em;
    text-indent: -1em;
    padding-left: 1em;
}

.list li:last-of-type{
    margin-bottom: 0;
} 

.list p {
    font-size: .9em;
    margin-bottom: 0em;
}

.no_border {
    border: none;
    margin-top: 0;
    text-align: left;
}

.margin_right {
    margin-right: 2%;
}

.margin_left {
    margin-left: 2%;
}


/*--PROJECTS------------------------------------------------------------------------------------------------------*/


#projects {
    padding: 0; 
}

.projects_grid {
    position: relative;
    float: left;
    width: 50%;
}

.projects_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(28, 28, 28, 0.8);
    background-blend-mode: multiply;
    opacity: 0;
}

.projects_overlay:hover {
    opacity: 1;
    transition: all .3s ease-in-out;
}

.projects_overlay_text {
    position: absolute;
    color: #f0f0f0;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.projects_overlay_text p {
    font-size: .9em;
}


/*--PROJECTS-INNER------------------------------------------------------------------------------------------------------*/


#projects_inner .section_wrapper{
    padding: 3em 0;
}

#projects_inner .contents_wrapper {
    padding: 3em 0;
}

#projects_inner .projects_title {
    padding: 3em 0 1em;
}

#projects_inner .projects_arrow_wrapper {
    background-color: #fff;
    margin: 1em auto 0;
    padding: 0;
}

.projects_arrow_wrapper .page_arrow_left, .projects_arrow_wrapper .page_arrow_right {
    cursor: pointer;
    margin: 0;
    border: 1.5px solid #484848;
}

.projects_arrow_wrapper .page_arrow_left:hover, .projects_arrow_wrapper .page_arrow_right:hover {
    background: #484848;
    color: #f0f0f0;
}

.projects_arrow_wrapper .page_arrow_left:active, .projects_arrow_wrapper .page_arrow_right:active {
    border: 1.5px solid #808080; 
    background: #808080; 
}

.video_wrapper {
    position: relative;
/*    padding-top: 1.5em;*/
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video_wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sns_video_wrapper {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-top: 8%;
    padding-bottom: 8%;
}

.ratio_11 iframe {
    width: 20em;
    height: 20em;
}

.ratio_169 iframe {
    width: 20em;
    height: 11.2em;
}

.ratio_cover iframe {
    width: 40em;
    height: 16.5em;
}

.gif_bg {
    width: 100%;
    margin: 0 auto;
}

.gif_wrapper {
    width: 80%;
    max-width: 45em;
    padding: 3.5em 0 2.75em 0;
    margin: 0 auto;
}

.gif_image_h, .gif_image_v {
    display: inline-block;
    position: relative;
    padding: .75em 1em;
}

.gif_image_h {
    max-width: 40em;
}

.gif_image_v {
    max-width: 8em;
}


.kgc_bg {
    background: url(../images/projects/korean-ginseng-corp_2014-2016_seasonal-event_bg.jpg) no-repeat center center scroll;
    background-size: cover;
}

.hitejinro_bg {
    background: url(../images/projects/hitejinro_2016-2017_holiday-edition-promotion_bg.jpg) no-repeat center center scroll;
    background-size: cover;
}

.hitejinro_sns_bg {
    background: url(../images/projects/hitejinro_2016-2017_social-media_bg.jpg) no-repeat center center scroll;
    background-size: cover;
}

.zespri_bg {
    background: url(../images/projects/zespri_2015-2016_product-campaign_sungold-kiwi_bg.jpg) no-repeat center center scroll;
    background-size: cover;
}


/*--CLIENTS-------------------------------------------------------------------------------------------------------*/


#clients {
    background: #f0f0f0;
/*    background: url(../images/clients/clients_background.jpg) no-repeat center center scroll;
    background-size: cover;
    background-attachment: fixed;*/
}

.clients_logo_wrapper {
    width: 85%;
    max-width: 50em;
    margin: 2em auto 0;
}

.clients_logo_wrapper img {
    display: inline-block;
    width: 20%;
}

.clients_logo_wrapper img:hover {
    transform: scale(1.125);
    transition: all 0.4s ease-in-out;
}


/*--FOOTER-------------------------------------------------------------------------------------------------------*/

#contact {
    background: #fff;
    padding: 3em 0 2em;  
}

#contact img {
    display: inline;
    width: 2em;
    height: 2em;
    margin-top: -.25em;
}

#contact p {
    font-size: .75em;
    margin: 3em 0 0;
}


/*--MEDIA-------------------------------------------------------------------------------------------------------*/


@media only screen and (max-width: 1180px) {

    .gallery_image { 
        height: calc(85vh - 4em); 
    }

}

@media only screen and (max-width: 1024px) {

    .gallery_image { 
        height: calc(80vh - 4em); 
    }

}

@media only screen and (max-width: 965px) {


    .gallery_image { 
        height: calc(70vh - 4em); 
    }

    .contents_wrapper {
        width: 80%;
    } 

    .clients_logo_wrapper {
        width: 95%;
    }

    .ratio_cover iframe {
        width: 30em;
        height: 12.375em;
    }

}

@media only screen and (max-width: 800px) {

    .section_wrapper {
        width: 92%;
    }

    header {
        height: 3.5em;
    }

    .header_up {
        top: 0;
    }

    header .section_wrapper {
        width: 100%;
    }

    #logo {
        width: 8em;
        height: 3.5em;
        margin-left: 4%;
    }

    #nav_top {
        width: 100%;
        height: 3.5em;
    }

    .hamburger_box {
        display: block;
        position: absolute; 
        right: 0;
        margin-right: 4%;
    }

    #checkbox:checked + .menu {
        display: block;
    }

    .menu {
        display: none;
        position: absolute;
        top: 3.5em;
        width: 100%;
    }

    .menu a {
        display: block;
        background: rgba(28, 28, 28, 0.8);
        color: #f0f0f0;
        padding: .75em;
        margin-left: 0;
    }

    .menu a:hover {
        border-bottom: none;
        background: #808080;
        opacity: 0.8; 
    }

    .menu a:active {
        border-bottom: none;
        background: #b2b2b2;
        opacity: 0.8; 
    }

    main {
        top: 3.5em;
    }

    .return_top {
        margin-right: calc(4% + .75em);
    }

    .gallery_image {
        height: calc(60vh - 3.5em); 
    }

    .list {
        padding: 3em 2em 0;
    }

    .col_50 {
        float: none;
        width: 100%;
    }

    .margin_left, .margin_right {
        margin-left: 0;
        margin-right: 0;
    }

    .projects_grid {
        float: none;
        width: 100%;
    }

    .clients_logo_wrapper img {
        width: 25%;
    }

    .clients_logo_wrapper img:hover {
        transform: none;
    }

}


@media only screen and (max-width: 670px) {

    .gallery_image {
        height: calc(55vh - 3.5em); 
    }

    .gif_image_v {
        max-width: 7.5em;
    }

    .ratio_cover iframe {
        width: 20em;
        height: 8.25em;
    }
}

@media only screen and (max-width: 600px) {

    body {
        font-size: 16px;
    }

    .section_wrapper {
        width: 100%;
        padding: 3em 0;
    }

    .contents_wrapper {
        width: 85%
    }

    #logo {
        margin-left: 7.5%;
    }

    .hamburger_box {
        margin-right: 7.5%;
    }

    .return_top {
        bottom: 1em;  
        width: 1.5em;
        margin-right: 7.5%;
        transition: none;
    }

    .gallery_image {
        height: calc(45vh - 3.5em); 
    }

    .page_arrow_wrapper {
        bottom: 16vh;
    }

    .page_arrow_left, .page_arrow_right {
        font-size: 1.5em;
        margin: 0 5.5%;
        padding: .3em .3em;
    }

    .slide_dot {
        display: none;
        /*margin: 0 .5em;*/
    }

    .fade {
        animation-name: none;
        animation-duration: 0;
    }

    .projects_arrow_wrapper {
        width: 85%;
    }

    .clients_logo_wrapper img {
        width: 30%;
    }

}

@media only screen and (max-width: 490px) {

    h1 {
        font-size: 2.25em;
    }

    .return_top {
        bottom: 1.5em;
    }

    .return_top.show {
        bottom: 2.5em;  
    }

    .list {
        padding: 3em .25em 0 .5em;
    }

    .projects_overlay:hover, .projects_overlay:active {
        transition: all 0s ease-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -moz-touch-callout: none;
        -ms-touch-callout: none;
        touch-callout: none;
    }

    .clients_logo_wrapper img {
        width: 45%;
    }

    #contact p {
        font-size: .8em;
        line-height: 1.25em;
        margin: 3em 3.5em 1em;
    }

    .gif_image_v {
        max-width: 5.5em;
    }

}


/*--TEST-------------------------------------------------------------------------------------------------------*/



